.AuthNav_nav {
  list-style: none;
  padding: 0;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.AuthNav_link {
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #212121;
}

.AuthNav_link:hover {
  text-decoration: underline;
}

.AuthNav_activeLink {
  color: #2196f3;
}
